<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.72.0.0" targetFramework="native" />
  <package id="boost_atomic-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_bzip2-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_chrono-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_container-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_context-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_contract-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_coroutine-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_date_time-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_exception-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_fiber-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_graph-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_iostreams-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_locale-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_log-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_math_c99f-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_math_c99l-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_math_c99-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_math_tr1f-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_math_tr1l-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_math_tr1-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_prg_exec_monitor-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_program_options-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_python38-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_random-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_regex-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_serialization-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_stacktrace_noop-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_stacktrace_windbg_cached-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_stacktrace_windbg-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_system-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_test_exec_monitor-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_thread-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_timer-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_type_erasure-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_wave-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_wserialization-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_zlib-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="cereal" version="1.0.0" targetFramework="native" />
  <package id="freetype.redist" version="2.6.2.1" targetFramework="native" />
  <package id="libjpeg.redist" version="9.0.1.4" targetFramework="native" />
  <package id="libpng.redist" version="1.6.19.1" targetFramework="native" />
  <package id="libtiff.redist" version="4.0.6.2" targetFramework="native" />
  <package id="libwebp.v140.redist" version="0.5.0.1" targetFramework="native" />
  <package id="sdl2.nuget" version="2.0.14" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.0.14" targetFramework="native" />
  <package id="sdl2_image.nuget" version="2.0.5" targetFramework="native" />
  <package id="sdl2_image.nuget.redist" version="2.0.5" targetFramework="native" />
  <package id="sdl2_ttf.nuget" version="2.0.15" targetFramework="native" />
  <package id="sdl2_ttf.nuget.redist" version="2.0.15" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>